# Temp Files
~$*
*.TMP

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg
*.egg-info/
dist/
build/
.eggs/
*.manifest
*.spec

# Virtual environments
.venv*/
venv/
ENV/
env/

# Jupyter Notebooks
.ipynb_checkpoints

# VS Code
# .vscode/

# OS files
.DS_Store
Thumbs.db

# Test and coverage
.coverage
.tox/
htmlcov/
.pytest_cache/

# Logs
*.log

# Other
*.sqlite3
*.db

# Ignore sqlite artifacts created in src/database during tests/dev runs
*.db
*.db-wal
*.db-shm

# Ignore CI/CD & metrics artifacts
/.ruff_cache
/.venv-ci
/metrics