# Temp Files
~$*

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg
*.egg-info/
dist/
build/
.eggs/
*.manifest
*.spec

# Virtual environments
.venv/
venv/
ENV/
env/

# Jupyter Notebooks
.ipynb_checkpoints

# VS Code
# .vscode/

# OS files
.DS_Store
Thumbs.db

# Test and coverage
.coverage
.tox/
htmlcov/

# Logs
*.log

# Other
*.sqlite3
*.db
